/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'font-awesome';

*{
  padding:0;
  maegin:0;
  box-sizing: border-box;
}

body {
  a:link {color:black; text-decoration:none }
  a:visited { color:black; text-decoration:none }
  a:hover { color:black; text-decoration:underline}
  a:active { color:black; text-decoration:none }
 }

.btn {
  margin: 5px;
}



* {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

/* ヘッダー・フッター設定 */
body {
  position: relative;
}

.navbar-brand {
  font-size: 40px;
}

.wrapper{
  min-height: 900px;
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  box-sizing: border-box;

  position: absolute;/*←wrapper topをbodyに合わせる*/
  top: 0; /*上に固定*/
  width: 100%;
}

header{
  width: 100%;
  padding-bottom: 30px;
  background-color: red;

  position: absolute;/*←header topをwrapperに合わせる*/
  top: 0;
}


footer{
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 30px 0;

    position: absolute;/*←footer bottomをwrapperに合わせる*/
    bottom: 0; /*下に固定*/
    left: 0;
}

@media screen and (max-width:1024px) {
  .wrapper {
    padding-top: 150px;
  }
}

@media screen and (max-width:768px) {
  .wrapper {
    padding-top: 320px;
  }
}

@media screen and (max-width:425px) {
  .wrapper {
    padding-top: 320px;
  }
}

