// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* 書籍詳細 レイアウト調整(show) */
.book-shelves-form {
	padding-top: 10px;
}

.rakuten-link-field {
	margin: 15px 0;
}

.book-show-field{
	margin-top: 20px;
}

.review-form {
	margin-bottom: 60px;
}