// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* トップ画面レイアウト調整 */
.size {
	height: 400px;
    width :100%;
}

.top-image-field {
	padding-top: 30px;
}

.login {
	padding: 10px;
}

/* slick一瞬の画像表示も無効 */
#theTarget.slick-initialized {
    display: block;
}