// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Userviews全体の調整 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


.bookshelves {
  margin: 20px;
}

/* 本棚一覧のレイアウト調整(show) */
.book_shelf_books {
  float: left;
  text-align: center;
  height: 200px;
  width: 10%;
  padding: 5px 5px 300px;
}


/* プロフィールのレイアウト調整(show) */

.profile-field {
	padding: 5px;
}

/* ユザー編集のレイアウト(edit) */
.field {
  padding: 5px;
}

@media screen and (max-width:1200px) {
  .book_shelf_books {
    width: 20%;
    margin: 0 auto;
  }

  .button {
    margin: 0 auto;
    width: 100px;
  }

  .user_iamge {
    text-align: center;
    margin: 5px;
  }
}


@media screen and (max-width:600px) {
  .book_shelf_books {
    width: 50%;
    margin: 0 auto;
    padding: 5px 5px 250px;
  }
}

@media screen and (max-width:500px) {

}
