<h4>書籍レビュー一覧</h4>

<div><%= @user.nickname %>さんのレビュー</div>

<!-- ユザーに関するの書籍レビュー/おすすめ数へのリンク -->
<%= render partial: "users/link_index", locals: { reviews: @reviews, recommended: @recommended, recommended_user: @recommended_user, books: @books, user: @user } %>

<p>★商品画像やタイトルをクリックすると、書籍の詳細ページに移動します。</p>

<div id="my-review-field">
	<%= render partial: "reviews/reviews", locals: { reviews: @reviews } %>
</div>
