p
  | ★商品画像やタイトルをクリックすると、書籍の詳細ページに移動します。
p
  | ★ユーザー画像をクリックすると、そのユーザーのページに移動します。
.table-responsive
  table.table.table-hover.table-inverse.order_table_text
    thead
      tr
        th
          | 書籍をオススメしたユーザー
        th
          | 書籍画像
        th
          | 書籍タイトル / カナ
        th
          | 著者名 / カナ
        th
          | 出版社名
        th
          | オススメ文
      tr

    - @recommended_book.each do |recommended_book|
      - books = RakutenWebService::Books::Book.search(isbn: recommended_book.book_id.to_i)
      - books.each do |item|
        tbody
          tr
            td
              = link_to user_path(recommended_book.user.id) do
                = attachment_image_tag recommended_book.user, :image, size: "100x100", format: "jpg", fallback:"no_image.jpg"
                br
                = recommended_book.user.nickname
            td
              = link_to image_tag(item.medium_image_url), book_path(item.isbn)
            td
              = link_to item.title, book_path(item.isbn)
              br
              = link_to item.title_kana,book_path(item.isbn)
            td
              = item.author
              br
              = item.author_kana
            td
              = item.publisher_name
            td
              |  タイトル : 
              = recommended_book.title
              br
              |  本文 : 
              = recommended_book.text
    = paginate @recommended_book, class: "paginate"
