doctype html
html
  head
    title
      | WakuwakuBook
    = csrf_meta_tags
    = csp_meta_tag
    meta[name="viewport" content="width=device-width,initial-scale=1.0"]
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    link[rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"]
    |
    link[rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"]
    script[type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"]
    link[href="”css/bootstrap.min.css”" rel="”stylesheet”"]
    link[href="”css/bootstrap-responsive.min.css”" rel="”stylesheet”"]
  body
    .wrapper
      header
        #header
          .container
            nav.navbar-header.navbar-left
              = link_to "わくわくブック", root_path, class: "navbar-brand"
            nav
              ul.nav.navbar-nav.navbar-right[data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn"]
                - if user_signed_in?
                  p.navbar-text.navbar-left
                    | ようこそ、
                    = current_user.nickname
                    | さん！
                  li
                    = link_to "マイページ", user_path(current_user.id)
                  li
                    = link_to 'ユーザー一覧', users_path
                  li
                    = link_to '書籍検索', books_path
                  li
                    = link_to 'ログアウト', destroy_user_session_path, method: :delete
                - else
                  li
                    = link_to '書籍検索', books_path
                  li
                    = link_to '会員登録', new_user_registration_path
                  li
                    = link_to 'ログイン', new_user_session_path
      .container
        - flash.each do |message_type, message|
          = content_tag(:div, message, class: "alert alert-#{message_type}")
        = yield
      footer
        #header
          p
            | (c)copy right
